.woocommerce-cart {
  .cart-items-table {
    margin-bottom: 20px;
    border-collapse: collapse;
    border: 1px solid var(--lightGrey);
    width: 100%;
    thead {
      tr {
        border-bottom: 1px solid var(--lightGrey);
        th {
          text-align: left;
          padding: 15px 15px;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid var(--lightGrey);
        td {
          letter-spacing: 0.03rem;
          padding: 15px;
          .img-container {
            img {
              width: 100px;
              height: 100px;
            }
          }
        }
        .image-column {
        }
        .product-info-column {
          .product-title {
            font-size: var(--mediumSize);
            text-decoration: none;
            letter-spacing: 0.03rem;
            display: block;
            color: var(--darkGrey);
            &:hover {
              text-decoration: underline;
            }
          }
          .variation-attributes {
            .item {
              margin: 5px 0;
              font-size: var(--paragraphSize);
              font-weight: var(--bold);
              letter-spacing: 0.02rem;
              span {
                font-weight: var(--regular);
                text-transform: capitalize;
              }
            }
          }
          .availability-container {
            background-color: var(--beige);
            padding: 10px 20px;
            margin: 10px 0;
            display: inline-block;
            div {
              margin-left: 25px;
              font-size: var(--paragraphSize);
              font-weight: var(--semiBold);
              span {
                font-weight: var(--regular);
              }
            }
            .availability {
              position: relative;

              i {
                position: absolute;
                left: -25px;
                top: 5px;
                color: var(--grey);
              }
            }
          }
        }
        .quantity-column {
          .quantity-container {
            display: flex;
            align-items: center;
            .minus,
            .plus {
              background-color: var(--beige);
              width: 40px;
              height: 40px;
              font-size: 1.5rem;
              font-weight: 100;
              line-height: 0;
              border: 1px solid var(--lightGrey);
              cursor: pointer;
            }
            .minus {
              border-right: 0 !important;
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
            }
            .plus {
              position: relative;
              border-left: 0 !important;
              border-top-right-radius: 3px;
              border-bottom-right-radius: 3px;
            }
            #cart-quantity {
              display: inline-block;
              text-align: center;
              width: 50px;
              height: 40px;
              border-radius: 0;
              border: 1px solid var(--lightGrey);
            }
            #cart-quantity::-webkit-outer-spin-button,
            #cart-quantity::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            /* Firefox */
            #cart-quantity[type="number"] {
              -moz-appearance: textfield;
            }
          }
        }
        .price-column {
          .price-container {
            display: flex;
            .regular-price {
              font-size: 0.9rem;
              font-weight: var(--bold);
            }
            .striked {
              text-decoration: line-through;
              color: var(--grey);
            }
            .sale-price {
              font-size: 0.9rem;
              font-weight: var(--bold);
              color: var(--red);
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}
