.header {
  .top-banner {
    .banner-container {
      background-color: rgb(0, 0, 0);
      .banner-card {
        .anchor {
          color: white;
          font-size: var(--paragraphSize);
          text-align: center;
          text-decoration: none;
          font-weight: 200;
          display: block;
          padding: 7px 0;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
