// product page layout

.single-product {
  .product {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    @media (max-width: 1200px) {
      flex-direction: column;
    }
    .product-images {
      width: calc(96% - 500px);
      @media (max-width: 1200px) {
        width: 100% !important;
      }
      .woocommerce-product-gallery {
        width: 100%;
      }
    }
    .entry-summary {
      width: 500px !important;
      position: relative;
      @media (max-width: 1200px) {
        width: 100%;
      }
    }
    .variations {
      margin: 20px 0 0 0;
      label {
        color: var(--grey);
        letter-spacing: 0;
        margin: 0 !important;
      }
    }
  }

  .owl-nav span {
    font-size: 3rem;
    position: relative;
    top: -5px;
    font-weight: 100;
    color: var(--lightGrey);
  }
}

// images container

/* product gallery */

// product summary
.flex-control-nav {
  @media (max-width: 800px) {
    display: none;
  }
}
.woocommerce-product-gallery {
  display: flex;
}

.woocommerce-product-gallery .flex-control-thumbs {
  order: -10;
}

.woocommerce div.product div.images .flex-control-thumbs li {
  width: 100%;
  padding-top: 0;
  padding-bottom: 5px;
}

// variable swatches
.variations {
  .woo-selected-variation-item-name {
    font-size: var(--paragraphSize);
    color: var(--darkGrey);
  }
  tr:nth-child(1) {
    margin-bottom: 15px !important;
    display: block;
  }
  .woo-variation-items-wrapper {
    margin-top: 0px;
  }
  .color-variable-wrapper {
    .variable-item {
      border-radius: 100% !important;
      margin-right: 15px !important;
      margin-left: 1px !important;

      span {
        border-radius: 100% !important;
      }
    }
  }

  .button-variable-wrapper {
    li {
      border-radius: 0 !important;
      padding: 0 !important;
      margin-right: 15px !important;
      margin-left: 1px !important;
      span {
        background-color: var(--beige);
        border-radius: 0;
        padding: 0 30px !important;
        font-size: var(--paragraphSize);
        line-height: 1.9rem;
      }
    }
  }
}

.single-product {
  .woocommerce-variation-price {
    margin: 0 0 10px 0;
  }
  .deal-section {
    margin: 0 0 20px 0;
    background-color: var(--beige);
    padding: 20px 10px;
    .title {
      font-size: var(--columnSize);
      font-weight: var(--medium);
    }
    .subtitle {
      font-size: var(--paragraphSize);
      margin-top: 5px;
      font-weight: var(--regular);
    }
  }
}
